QA_tags_AI.json
{
  "name": "QA_tags_AI",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -480,
        0
      ],
      "id": "0fedecef-e5f3-4cdd-aff4-deb1ed7f49ae",
      "name": "On form submission",
      "webhookId": "663fdb06-baac-4763-b61e-31f502fbe14d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "507cf716-b0a5-45c4-ad70-ae71de3af0a7",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        0
      ],
      "id": "93ce3531-24dd-4f99-b3ec-a8401408dfea",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe54503-06eb-4fbc-9c0e-57194019d9a8",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "aeda838b-76e1-4210-9a22-05b5b61cfdd6",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fe54503-06eb-4fbc-9c0e-57194019d9a8",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        96
      ],
      "id": "1a0ba3e6-e195-4687-8a83-5af47a49dd2e",
      "name": "isTrusted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        16
      ],
      "id": "1102ba9b-6d4d-4806-b771-81390d29644e",
      "name": "reference"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        224
      ],
      "id": "fc8cbda1-4f56-4750-8fa9-d9440da2b1b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l0tg1P7BgTZTdeRi",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer and output relevant tags\nQuestion:{{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze question and answer submissions and generate relevant, descriptive tags that categorize the content based on topic, key concepts and technical terms. Always provide 4 - 8 tags as a comma separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnerships, agency, external contractors, lead referral"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        400,
        16
      ],
      "id": "d0fd0e96-516e-45ad-8027-11a00b6e849d",
      "name": "Add tags"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "MiCDGg8SOwcA8cF1",
          "mode": "list",
          "cachedResultName": "QA ingest",
          "cachedResultUrl": "/projects/76xf5pdQ2P6U1Q7s/datatables/MiCDGg8SOwcA8cF1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('reference').item.json.Name }}",
            "Email": "={{ $('reference').item.json.Email }}",
            "Question": "={{ $('reference').item.json.Question }}",
            "Answer": "={{ $('reference').item.json.Answer }}",
            "isTrusted": "={{ $('reference').item.json.isTrusted }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        16
      ],
      "id": "75d1c3f4-3c13-46c1-8121-7b452a549411",
      "name": "Insert row"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Ambreen",
          "Email": "ambreenharis753@gmail.com",
          "Question": "Can anyone be n8n ambassador?",
          "Answer": "Yes anyone can be n8n ambassador.",
          "submittedAt": "2026-04-24T21:19:52.133-04:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:false": {
      "main": [
        [
          {
            "node": "reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reference": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "face3b3c-4bdd-47e1-9393-bab41e7e28d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "861bbce409e266cf17a3aacced4a17be14340cedaf92b59fa3535f0ad61a4708"
  },
  "id": "BS3LHK9Zd6VKmUae",
  "tags": []
}